/* Nền TabPane */
.tab-pane {
    -fx-background-color:  #2B2B2B; /* Nền tối */
}

/* Nền và viền cho các tab */
.tab-header-background {
    -fx-background-color: #2B2B2B; /* Nền của các tab */
    -fx-border-width: 0; /* Đường viền dưới của tab */
}
.tab-pane:focused {
    -fx-focus-color: transparent; /* Loại bỏ màu focus */
    -fx-background-color:transparent;
}

/* Màu chữ của tab khi không được chọn */
.tab {
    -fx-text-fill: white; /* Màu chữ sáng cho các tab không được chọn */
    -fx-background-color: transparent; /* Nền trong suốt để thấy được màu nền của TabPane */
}
/* Màu chữ của tab khi không được chọn */
.tab-label {
    -fx-text-fill: white; /* Đặt màu chữ khi không được chọn */
}

/* Màu nền và chữ của tab khi được chọn */
.tab:selected .tab-label{
    -fx-background-color: transparent; /* Nền trong suốt cho tab đã chọn */
    -fx-text-fill: #FFFFFF; /* Màu chữ trắng khi chọn */
    -fx-border-color: #FF6A00; /* Viền cam khi chọn */
    -fx-border-width: 0 0 2px 0; /* Độ dày viền khi tab được chọn */
}

/* Màu nền của tab khi hover */
.tab:hover .tab-label{
    -fx-background-color: #FF6A00; /* Đổi màu nền khi hover */
    -fx-text-fill: #FFFFFF; /* Màu chữ khi hover */
    -fx-background-radius: 2px 2px 0 0;
}